- @url = params[:action] == 'new' ? collection_url : resource_url(resource)
= simple_form_for resource, url: @url, html: {class: 'form-horizontal', multipart: true} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.to_s.downcase + '.caption').mb_chars.downcase
    = "# #{resource.id}" if params[:action] == 'edit'

  = f.input :name
  = f.input :icon
  = f.input :placement, collection: RoomType.placement_options, input_html: {class: 'select2', tabindex: 0}
  = f.input :unique, as: :boolean
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
