- @url = params[:action] == 'new' ? collection_url : resource_url(resource)
= form_for resource, url: @url, html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.to_s.downcase + '.caption').mb_chars.downcase
    = "# #{resource.id}" if params[:action] == 'edit'
  .row-fluid
    .span6
      .control-group
        %label.control-label{for: 'item_item_type_id'}= t 'item.item_type'
        .controls
          = f.select :item_type_id, options_for_select(@item_types, resource.item_type_id), {include_blank: true}, {class: 'select2', tabindex: 0}
      .control-group
        %label.control-label{for: 'item_room_type_id'}= t 'item.room_type'
        .controls
          = f.select :room_type_id, options_for_select(@room_types, resource.room_type_id), {include_blank: true}, {class: 'select2', tabindex: 0}
      .control-group
        %label.control-label{for: 'item_name'}= t 'item.name'
        .controls= f.text_field :name
      .control-group
        %label.control-label{for: 'item_desc'}= t 'item.desc'
        .controls= f.text_area :desc, rows: 4
      .control-group
        %label.control-label{for: 'item_money_cost'}= t 'item.money_cost'
        .controls= f.number_field :money_cost
      .control-group
        %label.control-label{for: 'item_coins_cost'}= t 'item.coins_cost'
        .controls= f.number_field :coins_cost
      .control-group
        %label.control-label{for: 'item_sell_cost'}= t 'item.sell_cost'
        .controls= f.number_field :sell_cost
      .control-group
        %label.control-label{for: 'item_reputation_bonus'}= t 'item.reputation_bonus'
        .controls= f.number_field :reputation_bonus
    .span6
      .control-group
        %label.control-label{for: 'item_swf'}= t 'item.swf'
        .controls= f.file_field :swf
      .control-group
        %label.control-label{for: 'item_icon'}= t 'item.icon'
        .controls= f.file_field :icon
      .control-group
        %label.control-label{for: 'item_size_x'}= t 'item.size_x'
        .controls= f.number_field :size_x
      .control-group
        %label.control-label{for: 'item_size_y'}= t 'item.size_y'
        .controls= f.number_field :size_y
      .control-group
        %label.control-label{for: 'item_startup'}= t 'item.startup'
        .controls= f.check_box :startup
      .control-group
        %label.control-label{for: 'item_startup_room_id'}= t 'item.startup_room'
        .controls
          = f.select :startup_room_id, options_for_select(@startup_rooms, resource.startup_room_id), {include_blank: true}, {class: 'select2', tabindex: 0}
      .control-group
        %label.control-label{for: 'item_startup_x'}= t 'item.startup_x'
        .controls= f.number_field :startup_x
      .control-group
        %label.control-label{for: 'item_startup_y'}= t 'item.startup_y'
        .controls= f.number_field :startup_y
  .row-fluid
    .span4
      %legend= t 'common.requirements'
      .control-group
        %label.control-label{for: 'item_requirements_level'}= t 'common.level'
        .controls
          %input{name: 'item[requirements][level]', type: 'number', value: resource.requirements['level']}
      .control-group
        %label.control-label{for: 'item_requirements_friends'}= t 'common.friends'
        .controls
          %input{name: 'item[requirements][friends]', type: 'number', value: resource.requirements['friends']}
      .control-group
        %label.control-label{for: 'item_requirements_reputation'}= t 'common.reputation'
        .controls
          %input{name: 'item[requirements][reputation]', type: 'number', value: resource.requirements['reputation']}
      .itemRequirements
      .roomRequirements
      .removeLink.template
        %a.btn.btn-small.btn-danger
          %i.icon-trash.icon-white
      .itemRequirement.template
        .control-group
          %label.control-label label
          .controls
            %input{type: 'number', value: 1}
      .control-group
        %label.control-label= t 'common.items'
        .controls
          %select.select2#requireItem{tabindex: 0}
            %option
            - @items.each do |name, id|
              %option{value: id}= name
      .control-group
        %label.control-label= t 'common.rooms'
        .controls
          %select.select2#requireRoom{tabindex: 0}
            %option
            - @rooms.each do |name, id|
              %option{value: id}= name
    .span4
      %legend= t 'common.rewards'
      .control-group
        %label.control-label{for: 'item_rewards_reputation'}= t 'common.reputation'
        .controls
          %input{name: 'item[rewards][reputation]', type: 'number', value: resource.rewards['reputation']}
      .control-group
        %label.control-label{for: 'item_rewards_experience'}= t 'common.experience'
        .controls
          %input{name: 'item[rewards][experience]', type: 'number', value: resource.rewards['experience']}
    .span4
      %legend= t 'common.effects'
      .control-group
        %label.control-label{for: "item_type_placement"}
          = t 'item_type.placement'
        .controls
          %select.select2#effects
            %option
            - Item.effect_options.each do |name, value|
              %option{value: value}= name
      .effects
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
:javascript
  var req_items = #{@req_items.to_json};
  var req_rooms = #{@req_rooms.to_json};
  var effects = #{@effects.to_json}
