- rname = resource_class.name.pluralize.underscore
:javascript
  window.req_items = #{@req_items.to_json};
  window.req_rooms = #{@req_rooms.to_json};
  window.item_effects = #{@effects.to_json};
  window.resourceClass = '#{resource_class.name.underscore}';
= simple_form_for [:admin, resource], html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.name.pluralize.underscore + '.caption').mb_chars.downcase
    = "# #{resource.id}" unless resource.new_record?
  .row-fluid
    .span6
      = f.input :room_type_id, collection: @room_types
      = f.input :name
      = f.input :order
      = f.input :desc, as: :text, input_html: {rows: 4}
      = f.input :money_cost, as: :integer
      = f.input :coins_cost, as: :integer
      = f.input :sell_cost, as: :integer
    .span6
      = f.input :upgrade_id, collection: @upgrades
      = f.input :swf
      = f.input :icon
      = f.input :size_x, as: :integer
      = f.input :size_y, as: :integer
      = f.input :height, as: :integer
      = f.input :startup, as: :boolean
      = f.input :startup_x, as: :integer
      = f.input :startup_y, as: :integer
  .row-fluid
    .span6
      %legend= t 'common.requirements'
      .control-group
        %label.control-label{for: resource_class.name.underscore+'_requirements_level'}= t 'common.level'
        .controls
          %input{name: resource_class.name.underscore+'[requirements][level]', type: 'number', value: resource.requirements['level']}
      .control-group
        %label.control-label{for: resource_class.name.underscore+'_requirements_friends'}= t 'common.friends'
        .controls
          %input{name: resource_class.name.underscore+'[requirements][friends]', type: 'number', value: resource.requirements['friends']}
      .control-group
        %label.control-label{for: resource_class.name.underscore+'_requirements_reputation'}= t 'common.reputation'
        .controls
          %input{name: resource_class.name.underscore+'[requirements][reputation]', type: 'number', value: resource.requirements['reputation']}
      .itemRequirements
      .roomRequirements
      .removeLink.template
        %a.btn.btn-small.btn-danger
          %i.icon-trash.icon-white
      .itemRequirement.template
        .control-group
          %label.control-label label
          .controls
            %input{type: 'number', value: 1}
      .control-group
        %label.control-label= t 'common.items'
        .controls
          %select#requireItem
            %option
            - Item.refs.each do |item|
              %option{value: item.id}= item.name
      .control-group
        %label.control-label= t 'common.rooms'
        .controls
          %select#requireRoom
            %option
            - Room.refs.each do |room|
              %option{value: room.id}= room.name
    .span6
      %legend= t 'common.rewards'
      .control-group
        %label.control-label{for: resource_class.name.underscore+'_rewards_reputation'}= t 'common.reputation'
        .controls
          %input{name: resource_class.name.underscore+'[rewards][reputation]', type: 'number', value: resource.rewards['reputation']}
      .control-group
        %label.control-label{for: resource_class.name.underscore+'_rewards_experience'}= t 'common.experience'
        .controls
          %input{name: resource_class.name.underscore+'[rewards][experience]', type: 'number', value: resource.rewards['experience']}
      %legend= t 'common.effects'
      .control-group
        %label.control-label{for: "item_type_placement"}
          = t 'common.effect'
        .controls
          %select.select2#effects
            %option
            - Item.effect_options.each do |name, value|
              %option{value: value}= name
      .effects
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
