- @url = params[:action] == 'edit' || 'update' ? resource_url(resource) : collection_url
= simple_form_for resource, url: @url, html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.to_s.downcase + '.caption').mb_chars.downcase
    = "# #{resource.id}" if params[:action] == 'edit' || 'update'

  = f.input :name
  = f.input :klass_name
  = f.input :include_modules, collection: ItemType::MODULES_OPTIONS, input_html: {class: 'select2', tabindex: 0, multiple: true}
  = f.input :icon
  = f.input :placement, collection: ItemType.placement_options, input_html: {class: 'select2', tabindex: 0}
  = f.input :timed, as: :boolean
  = f.input :timetolive, as: :integer
  = f.input :unique, as: :boolean

  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
