= simple_form_for [:admin, resource], html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.name.underscore + '.caption').mb_chars.downcase
    = "# #{resource.id}" unless resource.new_record?
  = f.input :social, collection: SOCIAL_NETS
  = f.input :desc, as: :text, input_html: { rows: 5 }
  = f.input :local_path
  = f.input :swf
  = f.input :active, as: :boolean
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
