%table.table
  %thead
    %th= t 'flash_libs.created_at'
    %th= t 'flash_libs.social'
    %th= t 'flash_libs.desc'
    %th= t 'flash_libs.local_path'
    %th= t 'flash_libs.active'
    %td
      .pull-right
        %a.btn.btn-small.btn-primary{href: new_resource_url}
          %i.icon-plus.icon-white
          = t 'common.new'
  %tbody
    - collection.each do |resource|
      %tr
        %td
          %a{href: resource_url(resource)}= time_ago_in_words(resource.created_at) + ' назад'
        %td
          %a{href: resource_url(resource)}= resource.social
        %td
          %a{href: resource_url(resource)}= resource.desc
        %td
          %a{href: resource_url(resource)}= resource.local_path
        %td
          - if resource.active
            %span.badge.badge-success
              %i.icon-ok.icon-white
        %td
          .btn-group.pull-right
            - unless resource.active
              %a.btn.btn-small.btn-primary{href: activate_admin_flash_lib_path(resource)}
                %i.icon-ok.icon-white
                = t 'flash_lib.activate'
            %a.btn.btn-small{href: edit_resource_url(resource)}
              %i.icon-pencil
              = t 'common.edit'
            %a.btn.btn-small.btn-danger{href: resource_url(resource), data: {method: 'delete', confirm: t('common.confirm')}}
              %i.icon-trash.icon-white
              = t 'common.delete'
