- @url = params[:action] == 'edit' || 'update' ? resource_url(resource) : collection_url
= simple_form_for resource, url: @url, html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(resource_class.to_s.downcase + '.caption').mb_chars.downcase
    = "# #{resource.id}" if params[:action] == 'edit' || 'update'
  - resource_attrs(resource).each do |name, value|
    = f.input name
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
