= simple_form_for [:admin, resource], html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(@rpname + '.caption').mb_chars.downcase
    = "# #{resource.id}" unless resource.new_record?

  - resource_attrs(resource).each do |name, value|
    = f.input name
  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
