:javascript
  req_items = #{@req_items.to_json};
  compl_req_rooms = #{@req_rooms.to_json};
  compl_req_items = #{@compl_req_items.to_json};
  resourceClass = '#{@rname}';
= simple_form_for [:admin, resource], html: {class: 'form-horizontal'} do |f|
  %legend
    = t("common.#{params[:action]}") + ' ' + t(@rpname + '.caption').mb_chars.downcase
    = "# #{resource.id}" unless resource.new_record?
  .row-fluid
    .span6
      = f.input :name
      = f.input :desc, as: :text, input_html: {rows: 4}
      = f.input :quest_character_id, collection: QuestCharacter.all
    .span6
      = f.input :complete_text, as: :text, input_html: {rows: 4}
      = f.input :parent_id, collection: Quest.ne(id: resource.id)
  .row-fluid
    .span6
      %legend= t 'common.requirements'
      .control-group
        %label.control-label{for: @rname+'_requirements_level'}= t 'common.level'
        .controls
          %input{name: @rname+'[requirements][level]', type: 'number', value: resource.requirements['level']}
      .control-group
        %label.control-label{for: @rname+'_requirements_friends'}= t 'common.friends'
        .controls
          %input{name: @rname+'[requirements][friends]', type: 'number', value: resource.requirements['friends']}
      .control-group
        %label.control-label{for: @rname+'_requirements_reputation'}= t 'common.reputation'
        .controls
          %input{name: @rname+'[requirements][reputation]', type: 'number', value: resource.requirements['reputation']}
      .itemRequirements
      .removeLink.template
        %a.btn.btn-small.btn-danger
          %i.icon-trash.icon-white
      .itemRequirement.template
        .control-group
          %label.control-label label
          .controls
            %input{type: 'number', value: 1}
      .control-group
        %label.control-label= t 'common.items'
        .controls
          %select#requireItem
            %option
            - Item.refs.each do |item|
              %option{value: item.id}= item.name
    .span6
      %legend= t 'quests.complete_requirements'
      .control-group
        %label.control-label{for: @rname+'_complete_requirements_coins'}= t 'common.coins'
        .controls
          %input{name: @rname+'[complete_requirements][coins]', type: 'number', value: resource.complete_requirements['coins']}
      .control-group
        %label.control-label{for: @rname+'_complete_requirements_money'}= t 'common.money'
        .controls
          %input{name: @rname+'[complete_requirements][money]', type: 'number', value: resource.complete_requirements['money']}
      .control-group
        %label.control-label{for: @rname+'_complete_requirements_level'}= t 'common.level'
        .controls
          %input{name: @rname+'[complete_requirements][level]', type: 'number', value: resource.complete_requirements['level']}
      .control-group
        %label.control-label{for: @rname+'_complete_requirements_friends'}= t 'common.friends'
        .controls
          %input{name: @rname+'[complete_requirements][friends]', type: 'number', value: resource.complete_requirements['friends']}
      .control-group
        %label.control-label{for: @rname+'_complete_requirements_reputation'}= t 'common.reputation'
        .controls
          %input{name: @rname+'[complete_requirements][reputation]', type: 'number', value: resource.complete_requirements['reputation']}
      .itemComplRequirements
      .control-group
        %label.control-label= t 'common.items'
        .controls
          %select#requireComplItem
            %option
            - Item.refs.each do |item|
              %option{value: item.id}= item.name
      .roomComplRequirements
      .control-group
        %label.control-label= t 'common.rooms'
        .controls
          %select#requireComplRoom
            %option
            - Room.refs.each do |item|
              %option{value: item.id}= item.name

  .control-group
    .controls
      %a.btn{href: collection_url}
        %i.icon-arrow-left
        Назад
      %button.btn.btn-primary
        %i.icon-ok.icon-white
        Сохранить
